# configuration of module #
# net configuration #
IPADDR: 169.254.1.11
BASEADDR: 169.254.1.0
GATEWAY: 192.168.178.1
NETMASK: 255.255.0.0
# ip2midi udp ports  #
PRIMARY_UDPPORT: 21928
FORWARDUDPPORT: 22028
SECONDARY_UDPPORT: 0
SECONDARY_MIDIPORT: 0
# forward midi port  #
FORWARDMIDIPORT: 0
## end of configuration ##
