# configuration of module #
# playmode 0_Chromatic / 1_C-Chest / 2_C#-Chest #
PLAYMODE: 0
# NOTEOFFSTRICT mode #
NOTEOFFSTRICT: 255
# ALLNOTESOFF mode #
ALLNOTESOFF: 255
# GLOBALALLNOTESOFF mode #
GLOBALALLNOTESOFF: 1
# midi channel settings #
MIDICHANNEL: 1
# first note #
FIRSTNOTE: 24
# Tone hole compensation
#; A; B; C; D; E; F; G; H
THC; 32; 32; 32; 32; 32; 32; 32; 32
## end of configuration ##
