# configuration of grey code #
# enable/disable gray code with 1 or 0 - default 0#
GRAYENABLE: 0
# Set gray code channel - default 11 #
GRAYCHANNEL: 11
# Set gray code controller - default 7 #
GRAYCONTROLLER: 7
# first out - default bank H, out 1 -> H1#
FIRSTOUT: H1

## end of configuration ##
